@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: rgb(255, 90, 1);
    --secondary-text-color: rgb(128, 1, 255);
    --accent-color: rgb(1, 200, 255);
    --accent-color-dark: rgb(5, 1, 255);

}
body{
    font-family: Lato ,"sans-serif";
    color: var(--primary-text-color);
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary-text-color);
    line-height:  1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* ///UTILITY CLASSES*/
.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline : auto;
    overflow: hidden;
}

nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav{
        justify-content: space-between;
        padding: 0 8px;
}

.company-logo img{
    width: 80px;
}

.nav-links ul{
    gap: 16px; /*jahan flex hoga vaha gap*/
}
.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    color: var(--secondary-text-color);
}
.hover-link:active{
    color: var(--accent-color);
}
.nav-item.active{
    color: var(--accent-color);
}

.search-bar{
    height: 32px;
    gap: 8px; /*jahan flex hoga vaha gap*/
}
.news-input{
    width: 200px;
    height:100% ;
    padding-inline: 12px;  /*0 12px*/
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family:'Lato', 'Times New Roman', Times, serif;
}
.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 6px 24px;
    border: none;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Lato','Times New Roman', Times, serif;
}
.search-button:hover{
    background-color: var(--accent-color-dark);
}

main{
    padding-block:20px ;
    margin-top:80px; /*body se 8-px neeche*/

}
.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
.card{
    width: 360px;
    min-height: 400px;
    box-shadow:0  0 4px #d4ecff ;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);

}
.card-header img{
    width:100% ;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
}
.news-source{
    margin-block:12px;
}